// This file includes variables only.
// compiled.


// Color variables

// White, black, gray
$white: #fff;
$black: #000;
$black-light-dark: #222;
$black-light: #2c2c2c;
$gray: #c4c4c4;
$gray-dark: #555;
$gray-lightest-light: #fffdfd;
$gray-light: #efefef;
$gray-lightest-dark: #e5e5e5;


// Colors
$green: #28bf40;
$green-hover: #58ec70;
$green-active: #2dcc47;
$blue: #1877f2;
$blue-active: #0b4192;
$blue-hover: #68a2f9;
$red: #d42e2e;
$red-hover: #c94949;
$red-active: #952020;


// Breakpoints
$screen-md-min: 768px;
$screen-xl-max: 1280px;

$screen-sm-plus-min: 540px; // 500px of content; 20px of margin on either side.
$screen-md-plus-min: 900px;


